@use "sass:map";

.homeslider {

  &.swiper {
    width: 100vw;
    overflow: visible;
    margin-left: -10px;

    @include media-breakpoint-up(sm) {
      margin-left: calc(calc(520px - 100vw) / 2);
    }

    @include media-breakpoint-up(md) {
      margin-left: calc(calc(700px - 100vw) / 2);
    }

    @include media-breakpoint-up(lg) {
      margin-left: calc(calc(940px - 100vw) / 2);
    }

    @include media-breakpoint-up(xl) {
      margin-left: calc(calc(1120px - 100vw) / 2);
    }

    .logo-in-slider {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9;
      width: 262px;
      height: 262px;
      background-image: url(../img/logo_video.png);
      background-size: cover;

      @include media-breakpoint-down(lg) {
        width: calc(262px / 2);
        height: calc(262px / 2);
      }

      @include media-breakpoint-down(md) {
        width: calc(262px / 3);
        height: calc(262px / 3);
      }

      @include media-breakpoint-down(sm) {
        width: calc(262px / 4);
        height: calc(262px / 4);
      }

    }

  }

  &__img {
    background: $gray-100;
  }

  &__list {
    margin: 0;
  }

  &__slider {
    position: relative;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
  }

  &__desc {
    * {
      color: $gray-800;
    }
  }


  &__arrow {
    top: 0;
    bottom: 0;
    padding: 0 map.get($spacers, 3);
    line-height: 1;

    > * {
      font-size: rem-calc(40px);
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}
