$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';

@import "../../fonts/icomoon/style";

%abstract-icon {

  width: 1em;
  height: 1em;

  /* use !important to prevent issues with browser extensions that change fonts */

  /* stylelint-disable */
  font-family: $icomoon-font-family !important;
  /* stylelint-enable */
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.material-icons {
  display: inline-block;
  /* stylelint-disable */
  font-family: "Material Icons";
  /* stylelint-enable */
  font-size: 24px; /* Preferred icon size */
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/** =================== MONTSERRAT =================== **/

/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/Montserrat-Light.woff2") format("woff2"),
  url("./fonts/Montserrat-Light.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2"),
  url("./fonts/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/Montserrat-Italic.woff2") format("woff2"),
  url("./fonts/Montserrat-Italic.woff") format("woff");
}

/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/Montserrat-SemiBold.woff2") format("woff2"),
  url("./fonts/Montserrat-SemiBold.woff") format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("./fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"),
  url("./fonts/Montserrat-SemiBoldItalic.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/Montserrat-Bold.woff2") format("woff2"),
  url("./fonts/Montserrat-Bold.woff") format("woff");
}

/** Montserrat Bold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/Montserrat-BoldItalic.woff2") format("woff2"),
  url("./fonts/Montserrat-BoldItalic.woff") format("woff");
}

/** =================== Playfair-Display =================== **/

@font-face {
  font-family: "Playfair-Display";
  src: url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
