$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-notdef3: "\e9ef";
$icon-glass: "\f000";
$icon-music: "\f001";
$icon-search: "\f002";
$icon-envelope: "\f003";
$icon-heart: "\f004";
$icon-star: "\f005";
$icon-star_empty: "\f006";
$icon-user: "\f007";
$icon-film: "\f008";
$icon-th_large: "\f009";
$icon-th: "\f00a";
$icon-th_list: "\f00b";
$icon-ok: "\f00c";
$icon-remove: "\f00d";
$icon-zoom_in: "\f00e";
$icon-zoom_out: "\f010";
$icon-off: "\f011";
$icon-signal: "\f012";
$icon-cog: "\f013";
$icon-trash: "\f014";
$icon-home: "\f015";
$icon-file_alt: "\f016";
$icon-time: "\f017";
$icon-road: "\f018";
$icon-download_alt: "\f019";
$icon-download: "\f01a";
$icon-upload: "\f01b";
$icon-inbox: "\f01c";
$icon-play_circle: "\f01d";
$icon-repeat: "\f01e";
$icon-refresh: "\f021";
$icon-list_alt: "\f022";
$icon-lock: "\f023";
$icon-flag: "\f024";
$icon-headphones: "\f025";
$icon-volume_off: "\f026";
$icon-volume_down: "\f027";
$icon-volume_up: "\f028";
$icon-qrcode: "\f029";
$icon-barcode: "\f02a";
$icon-tag: "\f02b";
$icon-tags: "\f02c";
$icon-book: "\f02d";
$icon-bookmark: "\f02e";
$icon-print: "\f02f";
$icon-camera: "\f030";
$icon-font: "\f031";
$icon-bold: "\f032";
$icon-italic: "\f033";
$icon-text_height: "\f034";
$icon-text_width: "\f035";
$icon-align_left: "\f036";
$icon-align_center: "\f037";
$icon-align_right: "\f038";
$icon-align_justify: "\f039";
$icon-list: "\f03a";
$icon-indent_left: "\f03b";
$icon-indent_right: "\f03c";
$icon-facetime_video: "\f03d";
$icon-picture: "\f03e";
$icon-pencil: "\f040";
$icon-map_marker: "\f041";
$icon-adjust: "\f042";
$icon-tint: "\f043";
$icon-edit: "\f044";
$icon-share: "\f045";
$icon-check: "\f046";
$icon-move: "\f047";
$icon-step_backward: "\f048";
$icon-fast_backward: "\f049";
$icon-backward: "\f04a";
$icon-play: "\f04b";
$icon-pause: "\f04c";
$icon-stop: "\f04d";
$icon-forward: "\f04e";
$icon-fast_forward: "\f050";
$icon-step_forward: "\f051";
$icon-eject: "\f052";
$icon-chevron_left: "\f053";
$icon-chevron_right: "\f054";
$icon-plus_sign: "\f055";
$icon-minus_sign: "\f056";
$icon-remove_sign: "\f057";
$icon-ok_sign: "\f058";
$icon-question_sign: "\f059";
$icon-info_sign: "\f05a";
$icon-screenshot: "\f05b";
$icon-remove_circle: "\f05c";
$icon-ok_circle: "\f05d";
$icon-ban_circle: "\f05e";
$icon-arrow_left: "\f060";
$icon-arrow_right: "\f061";
$icon-arrow_up: "\f062";
$icon-arrow_down: "\f063";
$icon-share_alt: "\f064";
$icon-resize_full: "\f065";
$icon-resize_small: "\f066";
$icon-plus: "\f067";
$icon-minus: "\f068";
$icon-asterisk: "\f069";
$icon-exclamation_sign: "\f06a";
$icon-gift: "\f06b";
$icon-leaf: "\f06c";
$icon-fire: "\f06d";
$icon-eye_open: "\f06e";
$icon-eye_close: "\f070";
$icon-warning_sign: "\f071";
$icon-plane: "\f072";
$icon-calendar: "\f073";
$icon-random: "\f074";
$icon-comment: "\f075";
$icon-magnet: "\f076";
$icon-chevron_up: "\f077";
$icon-chevron_down: "\f078";
$icon-retweet: "\f079";
$icon-shopping_cart: "\f07a";
$icon-folder_close: "\f07b";
$icon-folder_open: "\f07c";
$icon-resize_vertical: "\f07d";
$icon-resize_horizontal: "\f07e";
$icon-bar_chart: "\f080";
$icon-twitter_sign: "\f081";
$icon-facebook_sign: "\f082";
$icon-camera_retro: "\f083";
$icon-key: "\f084";
$icon-cogs: "\f085";
$icon-comments: "\f086";
$icon-thumbs_up_alt: "\f087";
$icon-thumbs_down_alt: "\f088";
$icon-star_half: "\f089";
$icon-heart_empty: "\f08a";
$icon-signout: "\f08b";
$icon-linkedin_sign: "\f08c";
$icon-pushpin: "\f08d";
$icon-external_link: "\f08e";
$icon-signin: "\f090";
$icon-trophy: "\f091";
$icon-github_sign: "\f092";
$icon-upload_alt: "\f093";
$icon-lemon: "\f094";
$icon-phone: "\f095";
$icon-check_empty: "\f096";
$icon-bookmark_empty: "\f097";
$icon-phone_sign: "\f098";
$icon-twitter1: "\f099";
$icon-facebook1: "\f09a";
$icon-github: "\f09b";
$icon-unlock: "\f09c";
$icon-credit_card: "\f09d";
$icon-rss1: "\f09e";
$icon-hdd: "\f0a0";
$icon-bullhorn: "\f0a1";
$icon-bell: "\f0a2";
$icon-certificate: "\f0a3";
$icon-hand_right: "\f0a4";
$icon-hand_left: "\f0a5";
$icon-hand_up: "\f0a6";
$icon-hand_down: "\f0a7";
$icon-circle_arrow_left: "\f0a8";
$icon-circle_arrow_right: "\f0a9";
$icon-circle_arrow_up: "\f0aa";
$icon-circle_arrow_down: "\f0ab";
$icon-globe: "\f0ac";
$icon-wrench: "\f0ad";
$icon-tasks: "\f0ae";
$icon-filter: "\f0b0";
$icon-briefcase: "\f0b1";
$icon-fullscreen: "\f0b2";
$icon-group: "\f0c0";
$icon-link: "\f0c1";
$icon-cloud: "\f0c2";
$icon-beaker: "\f0c3";
$icon-cut: "\f0c4";
$icon-copy: "\f0c5";
$icon-paper_clip: "\f0c6";
$icon-save: "\f0c7";
$icon-sign_blank: "\f0c8";
$icon-reorder: "\f0c9";
$icon-ul: "\f0ca";
$icon-ol: "\f0cb";
$icon-strikethrough: "\f0cc";
$icon-underline: "\f0cd";
$icon-table: "\f0ce";
$icon-magic: "\f0d0";
$icon-truck: "\f0d1";
$icon-pinterest1: "\f0d2";
$icon-pinterest_sign: "\f0d3";
$icon-google_plus_sign: "\f0d4";
$icon-google_plus: "\f0d5";
$icon-money: "\f0d6";
$icon-caret_down: "\f0d7";
$icon-caret_up: "\f0d8";
$icon-caret_left: "\f0d9";
$icon-caret_right: "\f0da";
$icon-columns: "\f0db";
$icon-sort: "\f0dc";
$icon-sort_down: "\f0dd";
$icon-sort_up: "\f0de";
$icon-envelope_alt: "\f0e0";
$icon-linkedin1: "\f0e1";
$icon-undo: "\f0e2";
$icon-legal: "\f0e3";
$icon-dashboard: "\f0e4";
$icon-comment_alt: "\f0e5";
$icon-comments_alt: "\f0e6";
$icon-bolt: "\f0e7";
$icon-sitemap: "\f0e8";
$icon-umbrella: "\f0e9";
$icon-paste: "\f0ea";
$icon-light_bulb: "\f0eb";
$icon-exchange: "\f0ec";
$icon-cloud_download: "\f0ed";
$icon-cloud_upload: "\f0ee";
$icon-user_md: "\f0f0";
$icon-stethoscope: "\f0f1";
$icon-suitcase: "\f0f2";
$icon-bell_alt: "\f0f3";
$icon-coffee1: "\f0f4";
$icon-food1: "\f0f5";
$icon-file_text_alt: "\f0f6";
$icon-building: "\f0f7";
$icon-hospital: "\f0f8";
$icon-ambulance: "\f0f9";
$icon-medkit: "\f0fa";
$icon-fighter_jet: "\f0fb";
$icon-beer: "\f0fc";
$icon-h_sign: "\f0fd";
$icon-f0fe: "\f0fe";
$icon-double_angle_left: "\f12b";
$icon-double_angle_right: "\f12c";
$icon-double_angle_up: "\f12d";
$icon-double_angle_down: "\f12e";
$icon-angle_left: "\f12f";
$icon-angle_right: "\f130";
$icon-angle_up: "\f131";
$icon-angle_down: "\f132";
$icon-desktop: "\f133";
$icon-laptop: "\f134";
$icon-tablet: "\f135";
$icon-mobile_phone: "\f136";
$icon-circle_blank: "\f137";
$icon-quote_left: "\f138";
$icon-quote_right: "\f139";
$icon-spinner: "\f13a";
$icon-circle: "\f13b";
$icon-reply: "\f13c";
$icon-github_alt: "\f13d";
$icon-folder_close_alt: "\f13e";
$icon-folder_open_alt: "\f13f";
$icon-smile: "\f140";
$icon-frown: "\f141";
$icon-meh: "\f142";
$icon-gamepad: "\f143";
$icon-keyboard: "\f144";
$icon-flag_alt: "\f145";
$icon-flag_checkered: "\f146";
$icon-terminal: "\f147";
$icon-code: "\f148";
$icon-reply_all: "\f149";
$icon-star_half_empty: "\f14a";
$icon-location_arrow: "\f14b";
$icon-crop: "\f14c";
$icon-code_fork: "\f14d";
$icon-unlink: "\f14e";
$icon-question: "\f14f";
$icon-_279: "\f150";
$icon-exclamation: "\f151";
$icon-superscript: "\f152";
$icon-subscript: "\f153";
$icon-_283: "\f154";
$icon-puzzle_piece: "\f155";
$icon-microphone: "\f156";
$icon-microphone_off: "\f157";
$icon-shield: "\f158";
$icon-calendar_empty: "\f159";
$icon-fire_extinguisher: "\f15a";
$icon-rocket: "\f15b";
$icon-maxcdn: "\f15c";
$icon-chevron_sign_left: "\f15d";
$icon-chevron_sign_right: "\f15e";
$icon-chevron_sign_up: "\f15f";
$icon-chevron_sign_down: "\f160";
$icon-html5: "\f161";
$icon-css3: "\f162";
$icon-anchor: "\f163";
$icon-unlock_alt: "\f164";
$icon-bullseye: "\f165";
$icon-ellipsis_horizontal: "\f166";
$icon-ellipsis_vertical: "\f167";
$icon-_303: "\f168";
$icon-play_sign: "\f169";
$icon-ticket: "\f16a";
$icon-minus_sign_alt: "\f16b";
$icon-check_minus: "\f16c";
$icon-level_up: "\f16d";
$icon-level_down: "\f16e";
$icon-check_sign: "\f16f";
$icon-edit_sign: "\f170";
$icon-_312: "\f171";
$icon-share_sign: "\f172";
$icon-compass: "\f173";
$icon-collapse: "\f174";
$icon-collapse_top: "\f175";
$icon-_317: "\f176";
$icon-eur: "\f177";
$icon-gbp: "\f178";
$icon-usd: "\f179";
$icon-inr: "\f17a";
$icon-jpy: "\f17b";
$icon-rub: "\f17c";
$icon-krw: "\f17d";
$icon-btc: "\f17e";
$icon-file: "\f17f";
$icon-file_text: "\f180";
$icon-sort_by_alphabet: "\f181";
$icon-_329: "\f182";
$icon-sort_by_attributes: "\f183";
$icon-sort_by_attributes_alt: "\f184";
$icon-sort_by_order: "\f185";
$icon-sort_by_order_alt: "\f186";
$icon-_334: "\f187";
$icon-_335: "\f188";
$icon-youtube_sign: "\f189";
$icon-youtube1: "\f18a";
$icon-xing: "\f18b";
$icon-xing_sign: "\f18c";
$icon-youtube_play: "\f18d";
$icon-dropbox: "\f18e";
$icon-stackexchange: "\f18f";
$icon-instagram1: "\f190";
$icon-flickr: "\f191";
$icon-adn: "\f192";
$icon-f171: "\f193";
$icon-bitbucket_sign: "\f194";
$icon-tumblr: "\f195";
$icon-tumblr_sign: "\f196";
$icon-long_arrow_down: "\f197";
$icon-long_arrow_up: "\f198";
$icon-long_arrow_left: "\f199";
$icon-long_arrow_right: "\f19a";
$icon-apple1: "\f19b";
$icon-windows: "\f19c";
$icon-android: "\f19d";
$icon-linux: "\f19e";
$icon-dribble: "\f19f";
$icon-skype: "\f1a0";
$icon-foursquare: "\f1a1";
$icon-trello: "\f1a2";
$icon-female: "\f1a3";
$icon-male: "\f1a4";
$icon-gittip: "\f1a5";
$icon-sun: "\f1a6";
$icon-_366: "\f1a7";
$icon-archive: "\f1a8";
$icon-bug: "\f1a9";
$icon-vk: "\f1aa";
$icon-weibo: "\f1ab";
$icon-renren: "\f1ac";
$icon-_372: "\f1ad";
$icon-stack_exchange: "\f1ae";
$icon-_374: "\f1af";
$icon-arrow_circle_alt_left: "\f1b0";
$icon-_376: "\f1b1";
$icon-dot_circle_alt: "\f1b2";
$icon-_378: "\f1b3";
$icon-vimeo_square: "\f1b4";
$icon-_380: "\f1b5";
$icon-plus_square_o: "\f1b6";
$icon-_382: "\f1b7";
$icon-_383: "\f1b8";
$icon-_384: "\f1b9";
$icon-_385: "\f1ba";
$icon-_386: "\f1bb";
$icon-_387: "\f1bc";
$icon-_388: "\f1bd";
$icon-_389: "\f1be";
$icon-uniF1A0: "\f1bf";
$icon-f1a1: "\f1c0";
$icon-_392: "\f1c1";
$icon-_393: "\f1c2";
$icon-f1a4: "\f1c3";
$icon-_395: "\f1c4";
$icon-_396: "\f1c5";
$icon-_397: "\f1c6";
$icon-_398: "\f1c7";
$icon-_399: "\f1c8";
$icon-_400: "\f1c9";
$icon-f1ab: "\f1ca";
$icon-_402: "\f1cb";
$icon-_403: "\f1cc";
$icon-_404: "\f1cd";
$icon-uniF1B1: "\f1ce";
$icon-_406: "\f1cf";
$icon-_407: "\f1d0";
$icon-_408: "\f1d1";
$icon-_409: "\f1d2";
$icon-_410: "\f1d3";
$icon-_411: "\f1d4";
$icon-_412: "\f1d5";
$icon-recycle: "\f1d6";
$icon-_414: "\f1d7";
$icon-_415: "\f1d8";
$icon-_416: "\f1d9";
$icon-_417: "\f1da";
$icon-_418: "\f1db";
$icon-_419: "\f1dc";
$icon-uniF1C0: "\f1dd";
$icon-uniF1C1: "\f1de";
$icon-_422: "\f1df";
$icon-_423: "\f1e0";
$icon-_424: "\f1e1";
$icon-_425: "\f1e2";
$icon-_426: "\f1e3";
$icon-_427: "\f1e4";
$icon-_428: "\f1e5";
$icon-_429: "\f1e6";
$icon-_430: "\f1e7";
$icon-_431: "\f1e8";
$icon-_432: "\f1e9";
$icon-_433: "\f1ea";
$icon-_434: "\f1eb";
$icon-uniF1D0: "\f1ec";
$icon-uniF1D1: "\f1ed";
$icon-uniF1D2: "\f1ee";
$icon-_438: "\f1ef";
$icon-_439: "\f1f0";
$icon-uniF1D5: "\f1f1";
$icon-uniF1D6: "\f1f2";
$icon-uniF1D7: "\f1f3";
$icon-_443: "\f1f4";
$icon-_444: "\f1f5";
$icon-_445: "\f1f6";
$icon-_446: "\f1f7";
$icon-_447: "\f1f8";
$icon-_448: "\f1f9";
$icon-_449: "\f1fa";
$icon-uniF1E0: "\f1fb";
$icon-_451: "\f1fc";
$icon-_452: "\f1fd";
$icon-_453: "\f1fe";
$icon-_454: "\f1ff";
$icon-_455: "\f200";
$icon-_456: "\f201";
$icon-_457: "\f202";
$icon-_458: "\f203";
$icon-_459: "\f204";
$icon-_460: "\f205";
$icon-_461: "\f206";
$icon-_462: "\f207";
$icon-_463: "\f208";
$icon-_464: "\f209";
$icon-uniF1F0: "\f20a";
$icon-_466: "\f20b";
$icon-_467: "\f20c";
$icon-f1f3: "\f20d";
$icon-_469: "\f20e";
$icon-_470: "\f20f";
$icon-_471: "\f210";
$icon-_472: "\f211";
$icon-_473: "\f212";
$icon-_474: "\f213";
$icon-_475: "\f214";
$icon-_476: "\f215";
$icon-f1fc: "\f216";
$icon-_478: "\f217";
$icon-_479: "\f218";
$icon-_480: "\f219";
$icon-_481: "\f21a";
$icon-_482: "\f21b";
$icon-_483: "\f21c";
$icon-_484: "\f21d";
$icon-_485: "\f21e";
$icon-_486: "\f21f";
$icon-_487: "\f220";
$icon-_488: "\f221";
$icon-_489: "\f222";
$icon-_490: "\f223";
$icon-_491: "\f224";
$icon-_492: "\f225";
$icon-_493: "\f226";
$icon-_494: "\f227";
$icon-f210: "\f228";
$icon-_496: "\f229";
$icon-f212: "\f22a";
$icon-_498: "\f22b";
$icon-_499: "\f22c";
$icon-_500: "\f22d";
$icon-_501: "\f22e";
$icon-_502: "\f22f";
$icon-_503: "\f230";
$icon-_504: "\f231";
$icon-_505: "\f232";
$icon-_506: "\f233";
$icon-_507: "\f234";
$icon-_508: "\f235";
$icon-_509: "\f236";
$icon-venus: "\f237";
$icon-_511: "\f238";
$icon-_512: "\f239";
$icon-_513: "\f23a";
$icon-_514: "\f23b";
$icon-_515: "\f23c";
$icon-_516: "\f23d";
$icon-_517: "\f23e";
$icon-_518: "\f23f";
$icon-_519: "\f240";
$icon-_520: "\f241";
$icon-_521: "\f242";
$icon-_522: "\f243";
$icon-_525: "\f244";
$icon-_526: "\f245";
$icon-_527: "\f246";
$icon-_528: "\f247";
$icon-_529: "\f248";
$icon-_530: "\f249";
$icon-_531: "\f24a";
$icon-_532: "\f24b";
$icon-_533: "\f24c";
$icon-_534: "\f24d";
$icon-_535: "\f24e";
$icon-_536: "\f24f";
$icon-_537: "\f250";
$icon-_538: "\f251";
$icon-_539: "\f252";
$icon-_540: "\f253";
$icon-_541: "\f254";
$icon-_542: "\f255";
$icon-_543: "\f256";
$icon-_544: "\f257";
$icon-_545: "\f258";
$icon-_546: "\f259";
$icon-_547: "\f25a";
$icon-_548: "\f25b";
$icon-_549: "\f25c";
$icon-_550: "\f25d";
$icon-_551: "\f25e";
$icon-_552: "\f25f";
$icon-_553: "\f260";
$icon-_554: "\f261";
$icon-_555: "\f262";
$icon-_556: "\f263";
$icon-_557: "\f264";
$icon-_558: "\f265";
$icon-_559: "\f266";
$icon-_560: "\f267";
$icon-_561: "\f268";
$icon-_562: "\f269";
$icon-_563: "\f26a";
$icon-_564: "\f26b";
$icon-_565: "\f26c";
$icon-_566: "\f26d";
$icon-_567: "\f26e";
$icon-_568: "\f26f";
$icon-_569: "\f270";
$icon-f260: "\f271";
$icon-f261: "\f272";
$icon-_572: "\f273";
$icon-f263: "\f274";
$icon-_574: "\f275";
$icon-_575: "\f276";
$icon-_576: "\f277";
$icon-_577: "\f278";
$icon-_578: "\f279";
$icon-_579: "\f27a";
$icon-_580: "\f27b";
$icon-_581: "\f27c";
$icon-_582: "\f27d";
$icon-_583: "\f27e";
$icon-_584: "\f27f";
$icon-_585: "\f280";
$icon-_586: "\f281";
$icon-_587: "\f282";
$icon-_588: "\f283";
$icon-_589: "\f284";
$icon-_590: "\f285";
$icon-_591: "\f286";
$icon-_592: "\f287";
$icon-_593: "\f288";
$icon-_594: "\f289";
$icon-_595: "\f28a";
$icon-_596: "\f28b";
$icon-_597: "\f28c";
$icon-_598: "\f28d";
$icon-f27e: "\f28e";
$icon-uniF280: "\f28f";
$icon-uniF281: "\f290";
$icon-_602: "\f291";
$icon-_603: "\f292";
$icon-_604: "\f293";
$icon-uniF285: "\f294";
$icon-uniF286: "\f295";
$icon-_607: "\f296";
$icon-_608: "\f297";
$icon-_609: "\f298";
$icon-_610: "\f299";
$icon-_611: "\f29a";
$icon-_612: "\f29b";
$icon-_613: "\f29c";
$icon-_614: "\f29d";
$icon-_615: "\f29e";
$icon-_616: "\f29f";
$icon-_617: "\f2a0";
$icon-_618: "\f2a1";
$icon-_619: "\f2a2";
$icon-_620: "\f2a3";
$icon-_621: "\f2a4";
$icon-_622: "\f2a5";
$icon-_623: "\f2a6";
$icon-_624: "\f2a7";
$icon-_625: "\f2a8";
$icon-_626: "\f2a9";
$icon-_627: "\f2aa";
$icon-_628: "\f2ab";
$icon-_629: "\f2ac";
$icon-uniF2A0: "\f2ad";
$icon-uniF2A1: "\f2ae";
$icon-uniF2A2: "\f2af";
$icon-uniF2A3: "\f2b0";
$icon-uniF2A4: "\f2b1";
$icon-uniF2A5: "\f2b2";
$icon-uniF2A6: "\f2b3";
$icon-uniF2A7: "\f2b4";
$icon-uniF2A8: "\f2b5";
$icon-uniF2A9: "\f2b6";
$icon-uniF2AA: "\f2b7";
$icon-uniF2AB: "\f2b8";
$icon-uniF2AC: "\f2b9";
$icon-uniF2AD: "\f2ba";
$icon-uniF2AE: "\f2bb";
$icon-uniF2B0: "\f2bc";
$icon-uniF2B1: "\f2bd";
$icon-uniF2B2: "\f2be";
$icon-uniF2B3: "\f2bf";
$icon-uniF2B4: "\f2c0";
$icon-uniF2B5: "\f2c1";
$icon-uniF2B6: "\f2c2";
$icon-uniF2B7: "\f2c3";
$icon-uniF2B8: "\f2c4";
$icon-uniF2B9: "\f2c5";
$icon-uniF2BA: "\f2c6";
$icon-uniF2BB: "\f2c7";
$icon-uniF2BC: "\f2c8";
$icon-uniF2BD: "\f2c9";
$icon-uniF2BE: "\f2ca";
$icon-uniF2C0: "\f2cb";
$icon-uniF2C1: "\f2cc";
$icon-uniF2C2: "\f2cd";
$icon-uniF2C3: "\f2ce";
$icon-uniF2C4: "\f2cf";
$icon-uniF2C5: "\f2d0";
$icon-uniF2C6: "\f2d1";
$icon-uniF2C7: "\f2d2";
$icon-uniF2C8: "\f2d3";
$icon-uniF2C9: "\f2d4";
$icon-uniF2CA: "\f2d5";
$icon-uniF2CB: "\f2d6";
$icon-uniF2CC: "\f2d7";
$icon-uniF2CD: "\f2d8";
$icon-uniF2CE: "\f2d9";
$icon-uniF2D0: "\f2da";
$icon-uniF2D1: "\f2db";
$icon-uniF2D2: "\f2dc";
$icon-uniF2D3: "\f2dd";
$icon-uniF2D4: "\f2de";
$icon-uniF2D5: "\f2df";
$icon-uniF2D6: "\f2e0";
$icon-uniF2D7: "\f2e1";
$icon-uniF2D8: "\f2e2";
$icon-uniF2D9: "\f2e3";
$icon-uniF2DA: "\f2e4";
$icon-uniF2DB: "\f2e5";
$icon-uniF2DC: "\f2e6";
$icon-uniF2DD: "\f2e7";
$icon-uniF2DE: "\f2e8";
$icon-uniF2E0: "\f2e9";
$icon-notdef: "\e9ea";
$icon-notdef1: "\e9eb";
$icon-notdef2: "\e9ec";
$icon-001-wheat-grains: "\f100";
$icon-002-wheat: "\f101";
$icon-003-branch-with-leaves: "\f102";
$icon-004-wheat-grain-close-up: "\f103";
$icon-005-ear-of-wheat: "\f104";
$icon-006-wheat-grains-on-a-bowl: "\f105";
$icon-007-wheat-1: "\f106";
$icon-008-spices: "\f107";
$icon-009-spa-bowl-to-mix-treatments-ingredients: "\f108";
$icon-010-add: "\f109";
$icon-011-ingredients: "\f10a";
$icon-012-egg: "\f10b";
$icon-013-chicken: "\f10c";
$icon-014-sweet: "\f10d";
$icon-015-milk: "\f10e";
$icon-016-milk-1: "\f10f";
$icon-017-peanut: "\f110";
$icon-018-peanut-1: "\f111";
$icon-019-almond: "\f112";
$icon-020-almond-1: "\f113";
$icon-021-chocolate-tablet-with-bite: "\f114";
$icon-022-chocolate: "\f115";
$icon-023-chocolate-1: "\f116";
$icon-024-wine-bottle: "\f117";
$icon-025-glass-and-bottle-of-wine: "\f118";
$icon-026-alcohol: "\f119";
$icon-027-wine: "\f11a";
$icon-028-wine-1: "\f11b";
$icon-029-wine-2: "\f11c";
$icon-030-wine-3: "\f11d";
$icon-031-wine-4: "\f11e";
$icon-032-file: "\f11f";
$icon-033-danger: "\f120";
$icon-034-block: "\f121";
$icon-035-cancel: "\f122";
$icon-036-warning-sign: "\f123";
$icon-037-restaurant: "\f124";
$icon-038-food: "\f125";
$icon-039-wheat-2: "\f126";
$icon-040-grape: "\f127";
$icon-041-salad: "\f128";
$icon-042-grapes: "\f129";
$icon-043-grapes-1: "\f12a";
$icon-044-hazelnut: "\e9ed";
$icon-045-pistachio: "\e9ee";
$icon-shrimp: "\e909";
$icon-chef-2: "\e90a";
$icon-sushi: "\e90b";
$icon-chopsticks: "\e90c";
$icon-whisk: "\e90d";
$icon-knife: "\e90e";
$icon-mitten: "\e90f";
$icon-refrigerator: "\e910";
$icon-spatula: "\e911";
$icon-toast: "\e912";
$icon-cupcake-8: "\e913";
$icon-pretzel-1: "\e914";
$icon-coffee-5: "\e915";
$icon-croissant-4: "\e916";
$icon-food-31: "\e917";
$icon-food-30: "\e918";
$icon-food-29: "\e919";
$icon-pastry-2: "\e91a";
$icon-pastry-1: "\e91b";
$icon-food-28: "\e91c";
$icon-rolling-pin: "\e91d";
$icon-coffee-cup-4: "\e91e";
$icon-kitchen-utensils: "\e91f";
$icon-pastry: "\e920";
$icon-pretzel: "\e921";
$icon-cake-3: "\e922";
$icon-food-27: "\e923";
$icon-cutting-board: "\e924";
$icon-grill: "\e925";
$icon-waiter: "\e926";
$icon-rice: "\e927";
$icon-pin: "\e928";
$icon-open-3: "\e929";
$icon-noodles: "\e92a";
$icon-dish-1: "\e92b";
$icon-closed-1: "\e92c";
$icon-restaurant-4: "\e92d";
$icon-dinner-2: "\e92e";
$icon-pizza-5: "\e92f";
$icon-open-2: "\e930";
$icon-coffee-4: "\e931";
$icon-piece-of-cake-1: "\e932";
$icon-restaurant-3: "\e933";
$icon-coffee-3: "\e934";
$icon-dinner-1: "\e935";
$icon-booked: "\e936";
$icon-restaurant-2: "\e937";
$icon-pizza-slice: "\e938";
$icon-pizza-4: "\e939";
$icon-open-1: "\e93a";
$icon-menu-1: "\e93b";
$icon-coffee-2: "\e93c";
$icon-restaurant-1: "\e93d";
$icon-dinner: "\e93e";
$icon-piece-of-cake: "\e93f";
$icon-birthday-cake-3: "\e940";
$icon-food-26: "\e941";
$icon-cutlery-2: "\e942";
$icon-beverage-1: "\e943";
$icon-beverage: "\e944";
$icon-cheese-burger: "\e945";
$icon-food-25: "\e946";
$icon-cake-2: "\e947";
$icon-sandwich-1: "\e948";
$icon-cupcake-7: "\e949";
$icon-cupcake-6: "\e94a";
$icon-croissant-3: "\e94b";
$icon-taco-1: "\e94c";
$icon-cookies-1: "\e94d";
$icon-food-24: "\e94e";
$icon-biscuit: "\e94f";
$icon-food-23: "\e950";
$icon-food-22: "\e951";
$icon-food-21: "\e952";
$icon-food-20: "\e953";
$icon-food-19: "\e954";
$icon-bread-3: "\e955";
$icon-birthday-cake-2: "\e956";
$icon-food-18: "\e957";
$icon-food-17: "\e958";
$icon-food-16: "\e959";
$icon-scooter: "\e95a";
$icon-cupcake-5: "\e95b";
$icon-hamburger-5: "\e95c";
$icon-fast-food: "\e95d";
$icon-cutlery-1: "\e95e";
$icon-dish: "\e95f";
$icon-food-15: "\e960";
$icon-food-14: "\e961";
$icon-tea: "\e962";
$icon-coffee-1: "\e963";
$icon-groceries: "\e964";
$icon-apple: "\e965";
$icon-tomato: "\e966";
$icon-cherries: "\e967";
$icon-broccoli: "\e968";
$icon-chef-1: "\e969";
$icon-cheese: "\e96a";
$icon-food-13: "\e96b";
$icon-food-12: "\e96c";
$icon-food-11: "\e96d";
$icon-pineapple: "\e96e";
$icon-bread-2: "\e96f";
$icon-food-10: "\e970";
$icon-sandwich: "\e971";
$icon-cupcake-4: "\e972";
$icon-grapes: "\e973";
$icon-food-9: "\e974";
$icon-chocolate: "\e975";
$icon-cutlery: "\e976";
$icon-soda-1: "\e977";
$icon-pizza-3: "\e978";
$icon-cocktail-glass-with-an-umbrella: "\e979";
$icon-birthday-cake-1: "\e97a";
$icon-bread-basket-1: "\e97b";
$icon-bread-oven: "\e97c";
$icon-cream-cupcake: "\e97d";
$icon-loaf-of-bread: "\e97e";
$icon-one-muffin: "\e97f";
$icon-two-macarons: "\e980";
$icon-cake-slice-1: "\e981";
$icon-two-bread-toasts: "\e982";
$icon-bread-basket: "\e983";
$icon-cake-slice: "\e984";
$icon-bread-toasts: "\e985";
$icon-muffin-1: "\e986";
$icon-food-8: "\e987";
$icon-cupcake-2: "\e988";
$icon-hamburger-4: "\e989";
$icon-stone-oven: "\e98a";
$icon-hamburger-3: "\e98b";
$icon-food-7: "\e98c";
$icon-pastry-biscuit: "\e98d";
$icon-double-popsicle: "\e98e";
$icon-cupcake-with-cherry: "\e98f";
$icon-birthday-cake-with-candle: "\e990";
$icon-milkshake-with-straw: "\e991";
$icon-ginger-bicuit: "\e992";
$icon-marie-biscuit-with-bite: "\e993";
$icon-cookie-with-fine-chips: "\e994";
$icon-sundae-with-cherry-on-top: "\e995";
$icon-sweet: "\e996";
$icon-ice-cream-cone-melting: "\e997";
$icon-hot-chocolate-cup: "\e998";
$icon-food-6: "\e999";
$icon-cake-slice-with-cherry: "\e99a";
$icon-food-5: "\e99b";
$icon-food-4: "\e99c";
$icon-wedding-cake: "\e99d";
$icon-food-3: "\e99e";
$icon-food-2: "\e99f";
$icon-delivery-truck: "\e9a0";
$icon-signs: "\e9a1";
$icon-clock: "\e9a2";
$icon-popcorn: "\e9a3";
$icon-doughnut: "\e9a4";
$icon-muffin: "\e9a5";
$icon-croissant-2: "\e9a6";
$icon-pizza-2: "\e9a7";
$icon-hot-dog: "\e9a8";
$icon-hamburger-2: "\e9a9";
$icon-french-fries-1: "\e9aa";
$icon-taco: "\e9ab";
$icon-security-man: "\e9ac";
$icon-soda: "\e9ad";
$icon-roast-chicken: "\e9ae";
$icon-restaurant: "\e9af";
$icon-menu: "\e9b0";
$icon-chef: "\e9b1";
$icon-pizza-1: "\e9b2";
$icon-food-1: "\e9b3";
$icon-hamburger-1: "\e9b4";
$icon-birthday-cake: "\e9b5";
$icon-ice-cream: "\e9b6";
$icon-food: "\e9b7";
$icon-hamburger: "\e9b8";
$icon-french-fries: "\e9b9";
$icon-fish-1: "\e9ba";
$icon-fish-bones: "\e9bb";
$icon-cupcake-1: "\e9bc";
$icon-croissant-1: "\e9bd";
$icon-candy-cane: "\e9be";
$icon-bread-1: "\e9bf";
$icon-bread: "\e9c0";
$icon-tea-cup: "\e9c1";
$icon-coffee-machine: "\e9c2";
$icon-coffee-cup-3: "\e9c3";
$icon-cookie: "\e9c4";
$icon-coffee-cup-2: "\e9c5";
$icon-croissant: "\e9c6";
$icon-reserved: "\e9c7";
$icon-closed: "\e9c8";
$icon-open: "\e9c9";
$icon-wine: "\e9ca";
$icon-cookies: "\e9cb";
$icon-cake-1: "\e9cc";
$icon-coffee-cup-1: "\e9cd";
$icon-coffee-cup: "\e9ce";
$icon-frappe: "\e9cf";
$icon-coffee: "\e9d0";
$icon-cezve: "\e9d1";
$icon-fish: "\e9d2";
$icon-chicken: "\e9d3";
$icon-pizza: "\e9d4";
$icon-cupcake: "\e9d5";
$icon-cake: "\e9d6";
$icon-chef-suit: "\e9d7";
$icon-crossed-knife-and-fork: "\e9d8";
$icon-round-bread: "\e9d9";
$icon-bell-covering-hot-dish: "\e9da";
$icon-oven-mitt: "\e9db";
$icon-drink-4: "\e9dc";
$icon-drink-3: "\e9dd";
$icon-drink-2: "\e9de";
$icon-cocktail: "\e9df";
$icon-wine-glass-full-of-drink: "\e9e0";
$icon-coffee-seeds: "\e9e1";
$icon-coffee-cup-outline: "\e9e2";
$icon-drink-big-tall-glass-with-soda: "\e9e3";
$icon-hot-coffee-rounded-cup-on-a-plate-from-side-view: "\e9e4";
$icon-soda-or-coffee-covered-glass: "\e9e5";
$icon-hot-coffee-cup-on-a-plate: "\e9e6";
$icon-drink-1: "\e9e7";
$icon-drink: "\e9e8";
$icon-cupcake-3: "\e9e9";
$icon-facebook: "\e900";
$icon-gplus: "\e901";
$icon-instagram: "\e902";
$icon-linkedin: "\e903";
$icon-pinterest: "\e904";
$icon-rss: "\e905";
$icon-twitter: "\e906";
$icon-vimeo: "\e907";
$icon-youtube: "\e908";

