.card-group-vertical-pack {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  > .card.card-pack-item {
    display: inline-flex;
    width: 49%;
    align-self: stretch;

    &:not(:last-child) {
      border-radius: 0.4rem;
    }

    &:not(:first-child) {
      border-top: 0.0625rem solid rgba(0, 0, 0, 0.125);
      border-radius: 0.4rem;
    }
  }
}
