.price {
  @include font-size($font-size-lg);
  font-weight: 700;
  color: darken($digruttola2, 44%);

  &--regular {
    font-weight: 400;
    color: $text-muted;
    text-decoration: line-through;
  }

  &--lg {
    @include font-size($h2-font-size);

    .decimal {
      @include font-size($font-size-lg, true);
    }

  }

  &--sm {
    @include font-size($font-size-base);
  }

  & .decimal {
    @include font-size($font-size-sm);
  }

}
