table.nutritional {
  border: 4px solid $digruttola1;

  th {
    border: 2px solid $digruttola1;
  }

  td {
    border: 2px solid $digruttola1;
  }

  td.right {
    text-align: right;
  }

  td.justify {
    text-align-last: justify;
  }
}

table.recycle {
  border: 4px solid $digruttola1;
  text-transform: uppercase;
  text-align: center;

  th {
    border: 2px solid $digruttola1;
    padding: 0 5px;
  }

  td {
    border: 2px solid $digruttola1;
    padding: 0 5px;
  }

  td.right {
    text-align: right;
  }
}

.allergen {
  text-align: center;
  width: 3em;
  height: 3em;
  box-sizing: content-box;
  position: relative;
  text-transform: uppercase;

  &:before {
    font-size: 1.8em !important;
    color: #E39C48;
    letter-spacing: 10px;
  }
}

.icon-recycle:before {
  color: #E39C48;
  letter-spacing: 10px;
}
