.banner {
  text-align: center;
  width: 100vw;
  overflow: visible;
  margin-left: -10px;
  position: relative;

  @include media-breakpoint-up(sm) {
    margin-left: calc(calc(520px - 100vw) / 2);
  }

  @include media-breakpoint-up(md) {
    margin-left: calc(calc(700px - 100vw) / 2);
  }

  @include media-breakpoint-up(lg) {
    margin-left: calc(calc(940px - 100vw) / 2);
  }

  @include media-breakpoint-up(xl) {
    margin-left: calc(calc(1120px - 100vw) / 2);
  }

  .banner-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 3.5em;
    line-height: 1.3em;
    font-style: italic;
    font-weight: normal;
    font-family: 'Playfair Display';
    display: inline;
    float: left;

    @include media-breakpoint-down(lg) {
      font-size: 2.5em;
    }

    @include media-breakpoint-down(md) {
      font-size: 2em;
    }

    @include media-breakpoint-down(sm) {
      font-size: 1.5em;
    }

  }

}
